.features-tiles-item-image {
	display: inline-flex;
	border-radius: 50%;
	// background-color: get-color(primary, 3);
}

@include media( '<=medium' ) {
	.features-tiles-item-image {
		img {
			height: 12px;
		}
	}
}

.features-tiles-item-text {
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	/* identical to box height, or 27px */

	text-align: center;

	color: #9E9E9E;
}