.features-split {

	.section-inner {
		padding-top: $features-split--padding-t__mobile;
		padding-bottom: $features-split--padding-b__mobile;
	}

	.section-header {
		padding-bottom: $features-split-header--padding__mobile;
	}
}

@include media( '<=medium' ) {
	.features-split {
		.section-inner-2 {
			opacity: 0.5;
		}

		.split-detail {
			display: none;
		}
	}
}

@include media( '>medium' ) {
	
	.features-split {
		margin-top: 100px;
		
		.section-inner-2 {
			padding-top: $features-split--padding-t__desktop;
			padding-bottom: $features-split--padding-b__desktop;
			width: 100%;
			background: #091D18;
			opacity: 0.5;
			border-radius: 129px;
		}

		.split-group {
			display: none;
		}

		.section-inner {
			padding-top: $features-split--padding-t__desktop;
			padding-bottom: $features-split--padding-b__desktop;
			width: 100%;
			background: #091D18;
			border-radius: 129px;
		}

		.section-header {
			padding-bottom: $features-split-header--padding__desktop;
		}

		.section-header h2 {
			font-weight: 700;
			font-size: 36px;
			line-height: 150%;
			text-align: center;
			color: #F5FBF2;
		}
	
		.section-header p {
			font-weight: 700;
			font-size: 36px;
			line-height: 150%;
			/* identical to box height, or 54px */
	
			text-align: center;
	
			color: #F5FBF2;
		}
	}
}
